<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Привет!</title>
</head>
<body>
    <div>
        <h1><a href = "/">Привет, Вика!</h1>
    </div>

    <div>
        <h2><a href="">Теперь сайт доступен для всех!!!</a></h2>
    </div>
    {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
</body>
</html>